.custom-navbar-text-color .nav-link {
    color: black; /* Set the text color to black */
}

.btn-success2 {
    background-color: #5cb85f;
    border-radius: 2px;
    width: 81px;
    height: 36px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.btn-success2:hover {
    background-color: #4cae4c; /* Change button background color on hover */
    border-color: #4cae4c; /* Change button border color on hover */
}
